/* header */
body{
  margin: 0;
}

.menuMobile,
.botones-header-mobile {
  display: none;  
}

a {
  text-decoration: none;
}

header > div{
  display: flex;
  flex-wrap: wrap;
  background-color: #FDDB70;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width: 7rem;
}

.carrito{
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
}
.botones-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
}
.botones-header button{
  background-color: #FDDB70;
  padding: 0.25rem 0.5rem;
  border: none;
  font-size: 1.5rem;
  box-sizing: border-box;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
}

.miCuenta{
  background-color: #FDDB70;
  padding: 0.25rem;
  border: none;
  font-size: 1.5rem;
  box-sizing: border-box;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
}

@media (max-width: 750px) {

      .botones-header{
        width: 70%;
      }
}

@media (max-width: 600px) {

.botones-header, 
.crearCuenta {
  display: none;
}

.menuMobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #FDDB70;
  height: 40px;
  width: 40px;
  padding: 5px;
}

.menuMobile .top,
.menuMobile .medium,
.menuMobile .bottom {
  border-top: 2px solid gray;
  width: 100%;
  display: inline-block;
}

.botones-header-mobile-mostrar {
  display: flex;
  flex-direction: column;
}
.botones-header-mobile-mostrar a {
  font-size: 1.5rem;
  color: black;
  padding: 10px;
  font-family: sans-serif;
  font-weight: 600;
  border: solid 1px rgba(80, 71, 128, 0.507);
  width: 100%;
}

}/* cierre de query */


/* footer */

footer{
  background-color: #FDDB70;

}

.botonesFooter{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer button{
  background-color: #FDDB70;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
}

.contactoFinPagina{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.contactoFinPagina a{
  padding: 0.1rem;
}

.contactoWhatsapp{
  display: flex;
  align-items: center;
}

.contactoWhatsapp img{
  height: 30px;
}

.footer-contacto-iconos{
  display: flex;
  align-items: end;
  justify-content: space-between;
}