
#alquiler {
  width: 100%; /* ancho completo de la caja */
  max-width: 700px; /* ancho máximo de la caja */
  height: 300px; /* altura de la caja */
  margin: 20px auto; /* margen alrededor de la caja y centrado horizontalmente */
  box-sizing: border-box; /* incluir borde en el ancho y altura de la caja */
  position: relative; /* hacer que la posición sea relativa para que el botón esté dentro de la caja */
  right: 20px;
  bottom: 20px;
}

#alquiler img {
  width: 100%; /* ancho completo de la imagen dentro de la caja */
  height: 100%; /* altura completa de la imagen dentro de la caja */
  object-fit: cover; /* cubrir la caja con la imagen, recortando si es necesario */
}

#alquiler button {
  position: absolute; /* hacer que la posición sea absoluta para que el botón se coloque encima de la imagen */
  bottom: -50px; /* distancia desde la parte inferior de la caja */
  right: 0px; /* distancia desde la parte derecha de la caja */
  background-color: #FDDB70; /* color de fondo del botón */
  color: #fff; /* color del texto del botón */
  border: none; /* eliminar borde del botón */
  padding: 10px 20px; /* agregar espaciado interno al botón */
  font-size: 16px; /* tamaño de fuente del botón */
  border-radius: 5px; /* redondear bordes del botón */
  text-decoration: none; /* eliminar subrayado del enlace del botón */
  
}

/* image-web-2 */


#tours {
  width: 100%; /* ancho completo de la caja */
  max-width: 700px; /* ancho máximo de la caja */
  height: 340px; /* altura de la caja */
  margin: 20px auto; /* margen alrededor de la caja y centrado horizontalmente */
  box-sizing: border-box; /* incluir borde en el ancho y altura de la caja */
  position: relative; /* hacer que la posición sea relativa para que el botón esté dentro de la caja */
  right: 20px;
  top: 15px;
}

#tours img {
  width: 100%; /* ancho completo de la imagen dentro de la caja */
  height: 100%; /* altura completa de la imagen dentro de la caja */
  object-fit: cover; /* cubrir la caja con la imagen, recortando si es necesario */
}

#tours button {
  position: absolute; /* hacer que la posición sea absoluta para que el botón se coloque encima de la imagen */
  bottom: -50px; /* distancia desde la parte inferior de la caja */
  right: 0px; /* distancia desde la parte derecha de la caja */
  background-color: #FDDB70; /* color de fondo del botón */
  color: #fff; /* color del texto del botón */
  border: none; /* eliminar borde del botón */
  padding: 10px 20px; /* agregar espaciado interno al botón */
  font-size: 16px; /* tamaño de fuente del botón */
  border-radius: 5px; /* redondear bordes del botón */
  text-decoration: none; /* eliminar subrayado del enlace del botón */
  
}

/* logo Trek */


#trekoficial {
  width: 100%; /* ancho completo de la caja */
  max-width: 400px; /* ancho máximo de la caja */
  height: 200px; /* altura de la caja */
  margin: 20px auto; /* margen alrededor de la caja y centrado horizontalmente */
  box-sizing: border-box; /* incluir borde en el ancho y altura de la caja */
  position: relative; /* hacer que la posición sea relativa para que el botón esté dentro de la caja */
  right: 20px;
  top: 15px;

}



#trekoficial img {

  width: 100%; /* ancho completo de la imagen dentro de la caja */

  height: 100%; /* altura completa de la imagen dentro de la caja */

   /* cubrir la caja con la imagen, recortando si es necesario */

}



/* Logo Shimano */





#shimano {

  width: 100%; /* ancho completo de la caja */

  max-width: 400px; /* ancho máximo de la caja */

  height: 200px; /* altura de la caja */

  margin: 20px auto; /* margen alrededor de la caja y centrado horizontalmente */

  box-sizing: border-box; /* incluir borde en el ancho y altura de la caja */

  position: relative; /* hacer que la posición sea relativa para que el botón esté dentro de la caja */

  right: 20px;

  top: 15px;

}



#shimano img {

  width: 100%; /* ancho completo de la imagen dentro de la caja */

  height: 100%; /* altura completa de la imagen dentro de la caja */

  object-fit: cover; /* cubrir la caja con la imagen, recortando si es necesario */

}




div {

  display: flex;

}

#container {
    font-family: sans-serif;
    margin: auto;
    background-color: white;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
#container>ul,
li {
    padding: 0 5px;
    margin: 0;
    list-style: none;
    padding-top: 5px;
}
#container>ul.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}
#container>ul.slider h1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 10px;
  left: 85%;
  top: 83%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: large;
}
#container>ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #fff;
}

#container>ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#container>ul.slider li:first-child {
  opacity: 1;
  /*Mostramos el primer <li>*/
}

#container>ul.slider li:target {
  opacity: 1;
  /*Mostramos el <li> del enlace que pulsemos*/
}

#menu {
  text-align: center;
  margin: 20px;
}

#menu li {
  display: inline-block;
  text-align: center;
}

#menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(153 148 148 / 36%);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#trekoficial, #shimano {
  flex-basis: 300px;
  margin: 20px;
}

#tienda{

  text-align: center;
  font-size: xxx-large;
  position: relative;
  top: 20px;

}






/* Dejo el codigo anterior para verificar utilidades (santi) */



/* .menu{
  text-align: center;
  margin: 20px;
}

.menu li{

  display: inline-block;
  text-align: center;

}
.menu li a{

  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;

} */


/* 
ul, li {

  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

}

ul.slider{

  position: relative;
  width: 800px;
  height: 300px;
  padding: 170px;
  box-sizing: border-box;

}

ul.slider li {

  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: white;
  transition: opacity .5s;
  box-sizing: border-box;



}

ul.slider li img{

  width: 100%;
  height: 300px;
  object-fit: cover;
  box-sizing: border-box;

  }



  ul.slider li:first-child {

    opacity: 1;

  }



  ul.slider li:target {

    opacity: 1;

  } */

  