body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: linear-gradient(150deg, black,silver);
    height: 100vh;
    background-image: url(/images/fondoLogin.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

.formulario {
    text-align: center;
    
    width: 300px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 30px;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background-color: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #a9a7a703;
    transform: translateY(-80%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content:" ";
    position: absolute;
    margin: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1f6035;
}

.username input:focus ~ label{
    top: 6px;
    color: #1f6035;
}

.username input:focus ~ span::before{
    width: 100%;
}
.recordar{
    margin: 0px 0px 20px 0px;
    color:blue;
    cursor: pointer;
    
}
.recordar:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #FDDB70;
    border-radius: 20px;
    font-size: 18px;
    color: pointer;
    outline: none;
}
.registrate{
    margin: 30px 0;
    text-align: center;
    font-size: 15px;
    color:black;
}
.registrate a{
    color:blue;
    text-decoration: none;
}
.registrate a:hover{
    text-decoration: underline;
}

.resolution{
    width: 99%;
    text-align: center;
}

.text-danger{
    color:red
}


@media (max-width: 767px) {
        .formulario {
            transform: translate(15%, 0%);
            width: 80%;
            background: white;
            border-radius: 5px;
        }
    }

    @media (min-width: 767px){
        .formulario {         
            transform: translate(75%, 0%);
            width: 40%;
            background: white;
            border-radius: 5px;
        }
    }



