body {
    text-align: center;
    
}

.serviciop {
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}

h2 {
    margin-left: 3%;
    margin-top: 3%;
}
section{
    margin: 2px;
    padding: 2vw;
    width: 30%;
}
.otros {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around
}
