section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.article-box{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    justify-content: space-between;
    max-width: 1030px;
    border-color: black;
    border-style: dashed;
    margin-top: 1rem;
     
    
}

.tituloFoto{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.5rem;
    align-items: center;
    text-align: left;
    width: 30rem;
     
}

.tituloFoto h2{
    font-size: 50px;
    color: cadetblue;
    font-weight: bolder;
    margin: 0;  
}

.tituloFoto img{
    box-sizing: border-box;
    width: 100%;
}

.descriptionPrecioCarrito{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 40%;
    padding: 1rem;
    justify-content: space-between; 
}

.description{
    font-size: 20px;
    text-align: justify;
    margin: 0;
}

.precioCarrito{
    display: flex;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(0, 173, 0);
}


.precioCarrito i{
    position: absolute;
    right: 5px;
    color: rgb(0, 173, 0);
}

.button {
    background-color: gold;
    display: block;
    margin-bottom: 10px;
    height: 40px;
    font-size: x-large;
    text-align: center ;
    margin-top: 150px;
}

/*queries*/

@media (max-width: 900px) {

    .article-box{
        flex-direction: column;
    }
    .descriptionPrecioCarrito{
        width: 100%;
    }
}
@media (max-width: 500px) {
.tituloFoto h2{
    font-size: 30px;
    }
}