<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{cssSheet:"registro"})%>

    <body>
        <!-- header -->
        <%- include('./partials/header') %>
            <main>
                <% if (locals?.errors?.length) { %>
                    <% for (var i=0; i < errors.length; i++) { %>
                        <br>
                        <div class="text-danger">
                            <%= errors[i].msg %>
                        </div>
                        <% } %>
                            <% } %>

                                <form method="post" action="/catalogo/" enctype="multipart/form-data">
                                    <p>
                                        <input type="text" id="name" name="name" placeholder="Producto" minlength="5">
                                    </p>
                                    <p>
                                        <input type="text" id="color" name="color" placeholder="Color">
                                    </p>
                                    <p>
                                        <input type="number" id="precio" name="precio" placeholder="Precio">
                                    </p>

                                    <p>
                                        <input type="text" id="descripcion" name="descripcion" placeholder="Descripcion"
                                            minlength="20">
                                    </p>

                                    <p>
                                        <select name="categoria" id="categoria">
                                            <option value=1>Bicicleta</option>
                                            <option value=2>Indumentaria</option>
                                            <option value=3>Accesorios</option>
                                        </select>
                                    </p>

                                    <input type="file" name="Product" accept="image/png, image/jpeg, image/gif">


                                    <p>
                                        <input id="ingreso" type="submit" value="Crear"> </input>
                                    </p>

                                </form>

            </main>
            <!-- footer -->
            <%- include('./partials/footer') %>
    </body>

</html>